.components-waiting {
  &:before,
  &:after,
  span {
    animation: waiting 0.3s infinite alternate;
    background-color: #61dafb;
    border-radius: 50%;
    content: "";
    float: left;
    height: 8px;
    margin: 0 3px;
    vertical-align: middle;
    width: 8px;
  }
  span {
    animation-delay: 0.1s;
  }
  &:after {
    animation-delay: 0.2s;
  }
  @keyframes waiting {
    0% {
      opacity: 1;
      transform: scale(1.5);
    }
    100% {
      opacity: 0.4;
      transform: scale(1);
    }
  }
}
