.login-form {
  padding: 24px;
  .form-field {
    position: relative;
    input {
      &[type="text"],
      &[type="password"] {
        background: none;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        -ms-border-bottom: 1px solid #edebe9;
        border-radius: 0;
        box-sizing: border-box;
        display: block;
        padding: 4px 0;
        transition-property: border;
        transition-duration: 0.2s;
        position: relative;
        font-family: inherit;
        font-size: inherit;
        font-weight: 700;
        line-height: inherit;
        width: 100%;
        z-index: 500;
      }
      &::placeholder {
        color: transparent;
      }
      &:placeholder-shown {
        &:not(:focus) + * {
          color: rgba(0, 0, 0, 0.38);
          font-size: inherit;
          top: 24px;
        }
      }
    }
    label {
      left: 0;
      position: absolute;
      top: 0;
      cursor: text;
      display: block;
      transition-duration: 0.2s;
      transition-property: color, font-size, top;
    }
    .field {
      display: block;
      margin-bottom: 18px;
      padding-top: 25px;
      position: relative;
    }
  }
  button {
    float: right;
    background: none;
    border: 1px solid #00a862;
    border-radius: 48px;
    box-sizing: border-box;
    color: #00a862;
    display: inline-block;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    padding: 6px 18px;
    position: relative;
    transition-duration: 0.1s;
    transition-property: background, border-color, color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
    margin-bottom: 4px;
    &[disabled] {
      background: #f7f7f7;
      border-color: #f7f7f7;
      color: rgba(0, 0, 0, 0.38);
      cursor: not-allowed;
    }
  }
}
