#components-header {
  background-color: antiquewhite;
  padding: 12px 12px 0 12px;
  .secondary {
    .back {
      box-sizing: border-box;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.05);
      display: inline-block;
      font-size: 0px;
      margin: 1px 8px 1px 0;
      padding: 3px;
      height: 28px;
      width: 28px;
    }
    .title {
      display: inline-block;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .avatar {
      box-sizing: border-box;
      border-radius: 50%;
      font-size: 0px;
      margin: 1px 8px 1px 0;
      padding: 3px;
      float: right;
      height: 28px;
      width: 28px;
    }
  }
  .title {
    text-align: center;
  }
}
