#exception {
  position: relative;
  .image-block {
    padding: 10% 20%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content-block {
    text-align: center;
    h1 {
      color: #434e59;
      font-size: 72px;
      font-weight: 600;
      line-height: 72px;
      margin-bottom: 24px;
    }
    .desc {
      color: rgba(0, 0, 0, 0.45);
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
}
