#components-loading {
  .loading {
    animation: 1.5s cubic-bezier(0.75, 0, 0.5, 1) infinite loading;
    background: #00a862;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 168, 98, 0.5);
    content: "";
    display: block;
    height: 4px;
    opacity: 0;
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    transition-duration: 0.1s;
    transition-property: opacity, transform, visibility, width;
    visibility: hidden;
    width: 50%;
    z-index: 1100;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes loading {
    0% {
      transform: translateX(-150%);
    }
    to {
      transform: translateX(200%);
    }
  }
}
