#footer {
  // padding: 10px 16px;
  // margin: 0 auto;
  // background: #fff;
  // box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  // text-align: center;
  bottom: 0px;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;

  // box-sizing: border-box;
  bottom: 0;
  .g-links {
    padding: 0 6px;
    padding-bottom: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    background: #fff;
    display: flex;
    box-sizing: border-box;
    // position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    li {
      flex: 1;
      text-align: center;
      a {
        display: block;
        line-height: 1;
        padding: 6px 4px;
        text-align: center;
        // font-size: 1.2rem;
        &.active {
          color: #00a862;
        }
      }
    }
    // a {
    //   flex: 1;
    //   // margin-right: 40px;
    //   &:last-child {
    //     margin-right: 0;
    //   }
    // }
  }
  // .g-copyright {
  //   color: rgba(0, 0, 0, 0.45);
  //   font-size: 14px;
  // }
}
