#navigator,
#nav-overlay {
  background: #fff;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
  z-index: 1006;
  .container {
    overflow: hidden;
    .header {
      height: 48px;
      box-sizing: content-box;
      display: none;
      padding: 24px;
      position: relative;
      .logo {
        float: left;
        margin-right: 12px;
        width: 36px;
        img {
          float: left;
          width: 36px;
        }
      }
      .primary {
        display: inline-block;
        ul {
          display: inline-block;
          padding: 0;
          white-space: nowrap;
          li {
            float: left;
            white-space: nowrap;
            a {
              color: inherit;
              display: block;
              font-weight: 700;
              font-size: 11px;
              font-size: 1.1rem;
              letter-spacing: 1px;
              padding: 5px 10px 5px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .body {
      .secondary {
        box-sizing: border-box;
        clear: both;
        min-height: 62px;
        padding: 16px 16px 0 16px;
        .back {
          box-sizing: border-box;
          border-radius: 2px;
          background: rgba(0, 0, 0, 0.05);
          display: inline-block;
          float: left;
          font-size: 0px;
          margin: 1px 8px 1px 0;
          padding: 3px;
          height: 28px;
          width: 28px;
          color: rgba(0, 0, 0, 0.56);
          font-weight: bold;
          img {
            margin: 2px 0 2px 4px;
            width: 18px;
          }
        }
        .logo {
          float: left;
          width: 30px;
          margin: -2px 12px -2px 0px;
          img {
            float: left;
            width: 36px;
          }
        }
        .display-1 {
          display: table;
          // margin-bottom: 12px;
          span {
            font-size: 22px;
            font-weight: bold;
          }
        }
        .tabs-wrapper {
          margin: -6px -16px 0;
          overflow: hidden;
          width: calc(100% + 32px);
          margin-top: 12px;
          .subcategories {
            box-sizing: border-box;
            display: block;
            -webkit-overflow-scrolling: touch;
            margin-bottom: -12px;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 0 0 12px 18px;
            white-space: nowrap;
            width: 100%;
            li {
              display: inline-block;
              a {
                padding-top: 12px;
                margin-right: 18px;
                display: inline-block;
                color: rgba(0, 0, 0, 0.56);
                padding: 6px 0;
                &.active {
                  border-bottom: 3px solid #00a862;
                  color: rgba(0, 0, 0, 0.87);
                  font-weight: 700;
                  padding-bottom: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#nav-overlay {
  background: #fff;
  bottom: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.1s linear;
  visibility: hidden;
  z-index: 1005;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .container {
    .header {
      display: block;
      .icon {
        background: url(../../assets/icons/icon-close.svg) no-repeat center
          center;
        box-sizing: inherit;
        color: transparent;
        display: block;
        float: right;
        height: 48px;
        opacity: 0.8;
        overflow: hidden;
        padding: 0;
        margin: -12px;
        transition: all 0.1s linear;
        width: 48px;
        border: 0;
      }
    }
  }
}
