#components-launch {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  text-align: center;
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
  &.active {
    z-index: 9999;
    visibility: visible;
    opacity: 100;
  }
  img {
    max-width: 640px;
  }
}
